#content {
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow:row;
    background-image: url("https://www.techrum.vn/chevereto/images/2016/08/15/X4ss5.jpg");
    height: 750px;
}

#vietnam {
    margin: 50px 75px 0px 80px;
    opacity: 0.5;
    background-color: black;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 20px;
}

#global {
    margin:50px ;
    opacity: 0.5;
    background-color: black;
    width: 40%;
    height: 600px;
    background-size: cover;
    border-radius: 20px;
}

h1 {
    font-size: 75px;
    color: rgb(203, 229, 255);
    padding-left: 125px;
    font-family: 'Lemonada', cursive;
}

.globalmini {
    color: rgb(225, 235, 255);
    margin-bottom: 50px;
    font-size: 50px;
    padding-left: 70px;
    font-family: 'Caveat Brush', cursive;
}

.vietnammini {
    color: rgb(224, 255, 253);
    margin-bottom: 50px;
    font-size: 50px;
    padding-left: 70px;
    font-family: 'Caveat Brush', cursive;
}