#content {
    display: flex;
    flex-flow:row;
}

#vietnam {
    background-color: rgb(211, 31, 31);
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#global {
    background-color: rgb(0, 255, 55);
    width: 50%;
    height: 700px;
    background-size: cover;
}

h1 {
    color: aliceblue;
    padding-left: 300px;
}

.globalmini {
    color: rgb(0, 89, 253);
    margin-bottom: 50px;
    font-size: 50px;
}

.vietnammini {
    color: rgb(101, 253, 0);
    margin-bottom: 50px;
    font-size: 50px;
    
}